/* здесь используйте глобальные переменные */
$primary-font:"Lato", "Arial", sans-serif;
$secondary-font: "Oswald", "Arial", sans-serif;
$primary-font-color: #444444;
$secondary-font-color: #000000;
$inverted-font-color: #ffffff;
$primary-background-color: #ffffff;
$secondary-background-color: #f2f2f2;
$inverted-background-color: #68b738;
$button-color: #68b738;
$button-text-color: #ffffff;
