.card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 12px 0 18px;
  justify-content: space-between;
  column-gap: 20px;
  border-top: 1px solid $primary-border-color;
  border-bottom: 1px solid $primary-border-color;

  @media (min-width: $tablet-width) {
    padding: 26px 38px 28px;
    row-gap: 22px;
    grid-template-columns: 1fr auto 73px;
    border: 1px solid $primary-border-color;
    min-height: 139px;
  }

  @media (min-width: $desktop-width) {
    padding: 18px 0 12px;
    border-left: none;
    border-right: none;
    grid-template-columns: 285px 1fr 42px 244px;
    column-gap: 40px;
    align-items: center;
    min-height: 72px;
  }
}

.card__title {
  color: $tertiary-font-color;
  font-family: $secondary-font;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 13px;
  grid-column: 1/-1;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 0;
    grid-column: 1/2;
  }
}

.card__volume {
  line-height: 14px;
  margin: 0;

  @media (min-width: $tablet-width) {
    line-height: 20px;
    justify-self: end;
  }

  @media (min-width: $desktop-width) {
    justify-self: start;
  }
}

.card__price {
  line-height: 14px;
  margin: 0;
  margin-bottom: 15px;
  justify-self: end;
  word-break: break-all;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    line-height: 20px;
    justify-self: end;
  }

  @media (min-width: $desktop-width) {
    justify-self: start;
  }
}

.card__button {
  width: 100%;
  grid-column: 1/-1;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 4/5;
    margin-top: -2px;
  }
}
