.contacts {
  background-color: $primary-background-color;
  overflow-wrap: break-word;
  position: relative;

  &--dark {
    background-color: $secondary-background-color;
  }
}

.contacts__container {
  position: relative;
  padding-bottom: 362px;

  @media (min-width: $tablet-width) {
    padding-bottom: 400px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 95px;
    padding-bottom: 106px;
  }
}

.contacts__text-wrapper {
  padding-top: 26px;
  padding-bottom: 26px;
  display: grid;
  justify-content: space-between;
  grid-template-columns: repeat(2, 140px);

  @media (min-width: $tablet-width) {
    padding: 60px 40px;
    grid-template-columns: repeat(2, 165px);
  }

  @media (min-width: $desktop-width) {
    padding: 60px 70px 60px 80px;
    background-color: $primary-background-color;
    width: 565px;
    position: relative;
    z-index: 2;
  }
}

.contacts__cooperate {
  color: #111111;
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 26px;
  }
}

.contacts__address {
  font-style: normal;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
    text-align: right;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
  }
}

.contacts__address-city {
  @media (min-width: $tablet-width) {
    display: block;
    margin-top: 19px;
  }
}

.contacts__map {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 362px;
  background-color: $inverted-background-color;
  background-image: image-set(url("../../images/map-mobile@1x.webp") type("image/webp") 1x, url("../../images/map-mobile@2x.webp") type("image/webp") 2x, url("../../images/map-mobile@1x.png") type("image/png") 1x, url("../../images/map-mobile@2x.png") type("image/png") 2x);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  &::before {
    content: "";
    background-image: image-set(url("../../images/map-pin@1x.webp") type("image/webp") 1x, url("../../images/map-pin@2x.webp") type("image/webp") 2x, url("../../images/map-pin@1x.png") type("image/png") 1x, url("../../images/map-pin@2x.png") type("image/png") 2x);
    width: 57px;
    height: 53px;
    position: absolute;
    left: 50%;
    top: 138px;
    transform: translateX(-50%);
    background-size: contain;
    background-repeat: no-repeat;
  }

  @media (min-width: $tablet-width) {
    height: 400px;
    background-image: image-set(url("  ../../images/map-tablet@1x.webp") type("image/webp") 1x, url("  ../../images/map-tablet@2x.webp") type("image/webp") 2x, url("  ../../images/map-tablet@1x.png") type("image/png") 1x, url("  ../../images/map-tablet@2x.png") type("image/png") 2x);

    &::before {
      width: 113px;
      height: 106px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  @media (min-width: $desktop-width) {
    background-image: image-set(url("  ../../images/map-desktop@1x.webp") type("image/webp") 1x, url("  ../../images/map-desktop@2x.webp") type("image/webp") 2x, url("  ../../images/map-desktop@1x.png") type("image/png") 1x, url("  ../../images/map-desktop@2x.png") type("image/png") 2x);
    height: 100%;

    &::before {
      top: 131px;
      transform: none;
      left: 63%;
    }
  }
}

.contacts__map iframe {
  width: 100%;
  height: 100%;
}
