.developer__link {
  color: #666666;

  &:hover .developer__logo {
    color: $icon-link-color;
  }

  &:focus .developer__logo {
    color: $icon-link-color;
  }

  &:active {
    opacity: 0.3;
  }
}

.developer__text {
  color: $primary-font-color;
  font-size: 16px;
  line-height: 20px;
}
