.developer__link {
  color: $icon-color;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $tablet-width) {
    column-gap: 23px;
  }

  &:hover .developer__logo {
    color: $icon-color-hover;
  }

  &:focus .developer__logo {
    color: $icon-color-hover;
  }

  &:active {
    opacity: 0.3;
  }
}

.developer__text {
  color: $primary-font-color;
  font-size: 16px;
  line-height: 20px;
}
