.example {
  background-color: $tertiary-background-color;

  @media (min-width: $tablet-width) {
    background-image: linear-gradient(to bottom, $primary-background-color 619px, transparent 619px);
  }

  @media (min-width: $desktop-width) {
    background-image: linear-gradient(to bottom, $primary-background-color 138px, transparent 138px);
  }
}

.example__container {
  padding-top: 25px;
  padding-bottom: 40px;

  @media (min-width: $tablet-width) {
    padding-top: 45px;
    padding-bottom: 103px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 0;
    padding-bottom: 75px;
    display: grid;
    grid-template-columns: 440px 1fr;
    column-gap: 224px;
  }
}

.example__text-wrapper {
  @media (min-width: $desktop-width) {
    max-width: 440px;
  }
}

.example__title {
  line-height: 40px;
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    line-height: 60px;
    margin-bottom: 60px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 146px;
  }
}

.example__description {
  margin: 0;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 55px;
    max-width: 708px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 69px;
  }
}

.example__result-wrapper {
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: start;
    margin-bottom: 0;
  }
}

.example__list {
  margin: 0;
  display: grid;
  grid-template-columns: repeat(2, min-content);
  justify-content: center;
  column-gap: 32px;
  margin-bottom: 18px;
  align-items: start;

  @media (min-width: $tablet-width) {
    column-gap: 42px;
    margin-bottom: 100px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 57px;
  }
}

.example__item {
  text-align: center;
  width: 124px;

  @media (min-width: $tablet-width) {
    width: 162px;
  }
}

.example__value {
  font-family: $secondary-font;
  font-size: 24px;
  line-height: 24px;
  color: $secondary-font-color;
  position: relative;
  padding: 14px 14px 18px;
  border: 1px solid $primary-border-color;
  border-radius: 3px;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 37px;
  }
}

.example__text {
  font-size: 12px;
  line-height: 12px;
  max-width: 80px;
  width: fit-content;
  position: relative;
  display: block;
  background-color: $tertiary-background-color;
  margin: 0 auto;
  margin-top: -10px;

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 14px;
    max-width: 125px;
    background-color: $primary-background-color;
    box-shadow: -8px 0 0 $primary-background-color, 8px 0 0 $primary-background-color;
  }

  @media (min-width: $desktop-width) {
    background-color: $tertiary-background-color;
    box-shadow: -8px 0 0 $tertiary-background-color, 8px 0 0 $tertiary-background-color;
  }
}

.example__costs {
  text-align: center;
  font-family: $secondary-font;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  margin: 0;
  margin-top: 11px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    max-width: 200px;
    text-align: right;
    display: flex;
    flex-direction: column;
    row-gap: 9px;
  }

  @media (min-width: $desktop-width) {
    max-width: 436px;
    margin: 0;
    flex-direction: row;
    column-gap: 63px;
  }
}
