.form {
  font-family: $secondary-font;
  text-transform: uppercase;
  font-size: 16px;

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 80px;
  }
}

.form__group {
  margin: 0;
  padding: 0;
  border: none;
  display: grid;
  row-gap: 14px;

  @media (min-width: $tablet-width) {
    row-gap: 20px;
  }

  &--pet {
    margin-bottom: 24px;

    @media (min-width: $tablet-width) {
      margin-bottom: 72px;
    }
  }

  &--program {
    border-top: 1px solid $tertiary-border-color;
    border-bottom: 1px solid $tertiary-border-color;
    padding: 20px 0 20px;
    margin-bottom: 23px;

    @media (min-width: $tablet-width) {
      border: 1px solid $input-border-color;
      padding: 23px 27px 27px 80px;
      margin-bottom: 65px;
    }
  }

  &--contacts {
    margin-bottom: 24px;

    @media (min-width: $tablet-width) {
      margin-bottom: 65px;
    }

    @media (min-width: $desktop-width) {
      grid-column: 1/-1;
      display: flex;
      column-gap: 80px;
      margin-bottom: 70px;
    }
  }

  &--comment {
    margin-bottom: 23px;
    row-gap: 0;

    @media (min-width: $tablet-width) {
      margin-bottom: 65px;
    }

    @media (min-width: $desktop-width) {
      grid-column: 1/-1;
      margin-bottom: 74px;
    }
  }

  &--additional {
    margin-bottom: 31px;

    @media (min-width: $tablet-width) {
      margin-bottom: 50px;
    }

    @media (min-width: $desktop-width) {
      grid-column: 1/-1;
      margin-bottom: 56px;
    }
  }
}

.form__group--comment .form__title {
  @media (min-width: $tablet-width) {
    margin-bottom: 87px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 77px;
  }
}

.form__group--additional .form__title {
  @media (min-width: $tablet-width) {
    margin-bottom: 58px;
  }
}


.form__title {
  color: $secondary-font-color;
  font-size: 24px;
  line-height: 26px;
  text-transform: none;
  margin-bottom: 36px;
  display: block;
  position: relative;
  width: fit-content;
  background-color: $primary-background-color;
  box-shadow: -20px 0 0 $primary-background-color, 20px 0 0 $primary-background-color;

  &::before {
    content: "";
    position: absolute;
    width: 100vw;
    height: 2px;
    background-color: $inverted-background-color;
    top: 0.6em;
    right: 0;
    box-shadow: 100vw 0 0 $inverted-background-color;
    z-index: -1;
  }

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 73px;
    box-shadow: -40px 0 0 $primary-background-color, 40px 0 0 $primary-background-color;

    & br {
      display: none;
    }
  }
}

.form__field-wrapper {
  display: grid;
  grid-template-columns: max-content auto;
  gap: 12px;
  align-items: center;
  width: 100%;
  position: relative;
  align-self: start;
}

.form__label {
  font-size: 16px;
  line-height: 18px;
  max-width: 100px;
  overflow-wrap: break-word;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: normal;
    max-width: 150px;
  }
}

.form__field {
  align-self: start;

  &--comment {
    width: 100%;
    height: 150px;
    resize: none;

    @media (min-width: $tablet-width) {
      height: 175px;
    }
  }
}

.form__icon {
  position: absolute;
  color: $secondary-font-color;
  width: 20px;
  height: 20px;
  right: 12px;
  top: 12px;

  @media (min-width: $tablet-width) {
    right: 16px;
    top: 16px;
  }
}

.form__field:hover + .form__icon {
  color: $icon-color-hover;
}

.form__field:focus:invalid + .form__icon {
  color: $error-color;
}

.form__field:disabled + .form__icon {
  color: $secondary-font-color;
  opacity: 0.1;
}

.form__list {
  @include normalize-list;
  display: grid;
  row-gap: 13px;
  padding-left: 39px;

  @media (min-width: $tablet-width) {
    padding-left: 0;
    row-gap: 11px;
  }
}

.form__group--additional .form__list {
  @media (min-width: $tablet-width) {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 60px;
    row-gap: 30px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 80px;
  }
}

.form__group--additional .form__item {
  @media (min-width: $tablet-width) {
    padding-left: 60px;
  }
}

.form__item {
  padding: 6px;
  word-break: break-word;
}

.form__button-wrapper {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    column-gap: 60px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1/-1;
    column-gap: 70px;
  }
}

.form__button {
  width: 100%;
  margin-bottom: 21px;

  @media (min-width: $tablet-width) {
    line-height: 26px;
    padding: 14px 26px;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    max-width: 570px;
  }
}

.form__text {
  display: block;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  text-transform: none;
  font-family: $primary-font;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    text-align: left;
  }
}
