.input {
  font-family: inherit;
  text-transform: uppercase;
  color: inherit;
  font-size: 16px;
  line-height: 18px;
  padding: 14px 15px;
  border: 1px solid #e7e7e7;

  &::placeholder {
    color: inherit;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: normal;
    padding: 11px 20px;
  }
}
