.input {
  font-family: inherit;
  text-transform: uppercase;
  color: inherit;
  font-size: 16px;
  line-height: 18px;
  padding: 12px 14px;
  border: 1px solid $input-border-color;
  height: 45px;

  &::placeholder {
    color: inherit;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: normal;
    padding: 11px 20px;
    height: 52px;
  }
}
