.main-header {
  background-color: $primary-background-color;
  color: $secondary-font-color;
  min-height: 65px;
}

.main-header--index {
  @media (min-width: $desktop-width) {
    background-image: linear-gradient(to right, $primary-background-color 50%, transparent 50%);
    background-color: $inverted-background-color;
    color: $inverted-font-color;
  }
}

.main-header__container {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    padding: 25px 30px;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    padding: 55px $horizontal-padding 32px;
  }
}

.main-header__logo-wrapper {
  padding: 13px 55px 14px 20px;

  @media (min-width: $tablet-width) {
    padding: 0;
    display: flex;
    align-self: start;
  }
}

.main-header__logo {
  align-items: center;

  @media (min-width: $tablet-width) {
    max-width: 174px;
    column-gap: 13px;
  }

  @media (min-width: $desktop-width) {
    max-width: 202px;
    column-gap: 14px;
  }
}

.main-header__logo .logo__image--text {
  @media (min-width: $desktop-width) {
    width: 118px;
    height: 21px;
  }
}
