.main-footer {
  background-color: $secondary-background-color;
}

.main-footer__container {
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;

  @media (min-width: $tablet-width) {
    padding: 55px 30px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    padding: 66px $horizontal-padding;
  }
}
