.main-header {
  background-color: $primary-background-color;
  color: $secondary-font-color;
}

.main-header__container {
  padding: 0;
}

.main-header__logo-wrapper {
  padding: 13px 60px 15px 20px;
}
