.main-footer {
  background-color: $secondary-background-color;
}

.main-footer__container {
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;

  @media (min-width: $tablet-width) {
    padding-top: 55px;
    padding-bottom: 55px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    padding: 66px $horizontal-padding-desktop;
  }
}

.main-footer__logo {
  flex-shrink: 0;
}

.main-footer__social {
  @include normalize-list;

  @media (min-width: $tablet-width) {
    margin-left: 30px;
  }
}
