.nav-list {
  font-family: $secondary-font;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  background-color: $primary-background-color;
  z-index: 5;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    column-gap: 33px;
    font-size: 18px;
    line-height: 24px;
    padding: 0 5px;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: normal;
    background-color: transparent;
  }
}

.nav-list__item {
  text-align: center;
}

.nav-list__link {
  color: inherit;
  padding: 22px 0 24px;
  display: block;
  border-bottom: 1px solid $secondary-border-color;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  &--disabled,
  &--disabled:hover,
  &--disabled:active,
  &--disabled:focus {
    opacity: 0.1;
    cursor: default;
    outline: none;
  }

  @media (min-width: $tablet-width) {
    padding: 8px 0 5px;
    border-bottom: 2px solid transparent;
  }

  @media (min-width: $desktop-width) {
    padding: 13px 0 8px;
  }

  &--current {
    @media (min-width: $tablet-width) {
      border-color: $button-color;
    }
  }
}
