.product {
  padding: 20px $horizontal-padding-mobile 24px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 17px;
  border-bottom: 1px solid #ebebeb;

  @media (min-width: $tablet-width) {
    padding: 10px 37px 40px;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(180deg, transparent 81px, $secondary-background-color 81px);
    row-gap: 22px;
    align-self: flex-start;
    border-bottom: none;
  }

  @media (min-width: $desktop-width) {
    row-gap: 12px;
  }
}

.product__text-wrapper {
  @media (min-width: $tablet-width) {
    margin-bottom: 9px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 22px;
  }
}

.product__link {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #222222;
}

.product__link--image {
  width: 140px;
  height: 107px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 200px;
    height: 210px;
  }

  @media (min-width: $desktop-width) {
    width: 169px;
  }
}

.product__link--title {
  justify-content: start;

  @media (min-width: $tablet-width) {
    justify-content: center;
  }
}

.product__title {
  font-family: $secondary-font;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 14px;
  max-width: 76px;
  text-align: left;

  @media (min-width: $tablet-width) {
    text-align: center;
    font-size: 20px;
    line-height: 24px;
    max-width: 140px;
    margin-bottom: 20px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 23px;
  }
}

.product__features {
  font-size: 12px;
  line-height: 16px;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
    display: grid;
    row-gap: 6px;
  }

  @media (min-width: $desktop-width) {
    row-gap: 7px;
  }
}

.product__features-item {
  display: grid;
  grid-template-columns: repeat(2, auto);
  min-width: 140px;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    padding-bottom: 5px;
    border-bottom: 1px solid $primary-border-color;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 6px;
  }
}

.product__features-value {
  margin: 0;
}

.product__button {
  width: 100%;
  grid-column: 1/-1;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
  }
}
