.programs__container {
  padding-top: 20px;
  padding-bottom: 20px;

  @media (min-width: $tablet-width) {
    padding-top: 0;
    padding-bottom: 45px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 85px;
    padding-bottom: 76px;
  }
}

.programs__list {
  @include normalize-list;
  display: grid;
  row-gap: 20px;
  width: 100%;

  @media (min-width: $tablet-width) {
    row-gap: 30px;
  }

  @media (min-width: $desktop-width) {
    column-gap: 80px;
    grid-template-columns: repeat(2, 1fr);
  }
}

.programs__item {
  background-repeat: no-repeat;

  &--slim {
    background-image: url("../../images/icons/stack.svg#cat-slim");
    background-size: 50px 53px;
    background-position: top 22px left 20px;

    @media (min-width: $tablet-width) {
      background-size: 200px 211px;
      background-position: top 81px right 65px;
    }

    @media (min-width: $desktop-width) {
      background-size: 100px 106px;
      background-position: top 42px left 52px;
    }
  }

  &--pro {
    background-image: url("../../images/icons/stack.svg#cat-pro");
    background-size: 67px 50px;
    background-position: top 24px left 12px;

    @media (min-width: $tablet-width) {
      background-size: 268px 200px;
      background-position: top 92px right 31px;
    }

    @media (min-width: $desktop-width) {
      background-size: 134px 100px;
      background-position: top 47px left 35px;
    }
  }
}
