.selection__container {
  padding-top: 27px;
  padding-bottom: 32px;

  @media (min-width: $tablet-width) {
    padding-top: 40px;
    padding-bottom: 60px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 43px;
    padding-bottom: 79px;
  }
}

.selection__title {
  margin-bottom: 39px;

  @media (min-width: $tablet-width) {
    margin-bottom: 54px;
    padding: 0 40px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 55px;
    padding: 0;
  }
}

.selection__description {
  color: $secondary-font-color;
  font-family: $secondary-font;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 39px;

  @media (min-width: $tablet-width) {
    margin-bottom: 66px;
    font-size: 20px;
    line-height: 30px;
    padding: 0 40px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.selection__form {
  @media (min-width: $tablet-width) {
    padding: 0 40px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}
