.social-list {
  @include normalize-list;
}

.social-list__link {
  color: $icon-color;

  &:hover {
    color: $icon-color-hover;
  }

  &:focus {
    color: $icon-color-hover;
  }

  &:active {
    opacity: 0.3;
  }
}
