.social-list {
  @include normalize-list;
  display: flex;
  flex-wrap: wrap;
  padding: 20px 0 20px;
  border-bottom: 1px solid $tertiary-border-color;
  border-top: 1px solid $tertiary-border-color;
  justify-content: center;
  gap: 12px 24px;

  @media (min-width: $tablet-width) {
    padding: 0;
    border: none;
    max-width: 50%;
  }
}

.social-list__item {
  width: 28px;
  height: 22px;
}

.social-list__link {
  background-color: $icon-color;
  display: block;
  width: 100%;
  height: 100%;

  &:hover {
    background-color: $icon-color-hover;
  }

  &:focus {
    background-color: $icon-color-hover;
  }

  &:active {
    opacity: 0.3;
  }

  &--vk {
    mask-image: url("../../images/icons/stack.svg#social-vkontakte");
  }

  &--youtube {
    mask-image: url("../../images/icons/stack.svg#social-youtube");
  }

  &--telegram {
    mask-image: url("../../images/icons/stack.svg#social-telegram");
  }
}
